{% extends "base.html" %}
{% block content%}
  <br />
  <br />
  <div class="well well-lg">
  	<p>
  	  <h5>About rdiff-backup-web</h5>
  	  <h6>Version:&nbsp;{{ version }}</h6>
  	</p>
  	<p>
  	  <p><strong>Thanks to:</strong>≈</p>
  	  <ul>
  	  	<li><a href="mailto:bescoto@stanford.edu">Ben Escoto</a> - The creator of <a href="http://www.nongnu.org/rdiff-backup/">rdiff-backup</a></li>
  	  	<li><a href="mailto:goodevans@gmail.com">David Evans</a> - The origional creator of <a href="">rdiff-backup-web</a>
	  </ul>
  	</p>
  </div>
{% endblock %}